USE [WamsDB]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 22.04.2025 16:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[UserId] [int] NOT NULL,
	[ShiftId] [int] NOT NULL,
	[Status] [nvarchar](17) NOT NULL,
	[ApplicationDate] [datetime2](0) NOT NULL,
	[Comment] [nvarchar](300) NULL,
 CONSTRAINT [PK_Assignment] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 22.04.2025 16:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [nvarchar](19) NOT NULL,
	[Text] [nvarchar](300) NOT NULL,
	[CreateDate] [datetime2](0) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 22.04.2025 16:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Rate] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 22.04.2025 16:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[StartDate] [datetime2](0) NOT NULL,
	[EndDate] [datetime2](0) NOT NULL,
	[HoursCount] [int] NOT NULL,
	[Amount] [decimal](9, 2) NOT NULL,
	[IsPaid] [bit] NOT NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryImpact]    Script Date: 22.04.2025 16:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryImpact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SalaryId] [int] NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[Amount] [decimal](9, 2) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[Type] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_SalaryImpact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 22.04.2025 16:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](9) NOT NULL,
	[StartDate] [datetime2](0) NOT NULL,
	[EndDate] [datetime2](0) NOT NULL,
	[IsDay] [bit] NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[MaxEmployees] [int] NOT NULL,
 CONSTRAINT [PK_Shift] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22.04.2025 16:26:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionId] [int] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patrionymic] [nvarchar](100) NULL,
	[RegistrationDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assignment] ADD  CONSTRAINT [DF_Assignment_Status]  DEFAULT (N'Ожидает одобрения') FOR [Status]
GO
ALTER TABLE [dbo].[Assignment] ADD  CONSTRAINT [DF_Assignment_ApplicationDate]  DEFAULT (getdate()) FOR [ApplicationDate]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_Rate]  DEFAULT ((0)) FOR [Rate]
GO
ALTER TABLE [dbo].[Salary] ADD  CONSTRAINT [DF_Salary_HoursCount]  DEFAULT ((0)) FOR [HoursCount]
GO
ALTER TABLE [dbo].[Salary] ADD  CONSTRAINT [DF_Salary_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Salary] ADD  CONSTRAINT [DF_Salary_IsPaid]  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[SalaryImpact] ADD  CONSTRAINT [DF_SalaryImpact_AppointmentDate]  DEFAULT (getdate()) FOR [AppointmentDate]
GO
ALTER TABLE [dbo].[Shift] ADD  CONSTRAINT [DF_Shift_Status]  DEFAULT (N'Открыта') FOR [Status]
GO
ALTER TABLE [dbo].[Shift] ADD  CONSTRAINT [DF_Shift_IsDay]  DEFAULT ((1)) FOR [IsDay]
GO
ALTER TABLE [dbo].[Shift] ADD  CONSTRAINT [DF_Shift_MaxEmployees]  DEFAULT ((1)) FOR [MaxEmployees]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_RegistrationDate]  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Assignment_Shift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shift] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Assignment] CHECK CONSTRAINT [FK_Assignment_Shift]
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Assignment_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Assignment] CHECK CONSTRAINT [FK_Assignment_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_User]
GO
ALTER TABLE [dbo].[SalaryImpact]  WITH CHECK ADD  CONSTRAINT [FK_SalaryImpact_Salary] FOREIGN KEY([SalaryId])
REFERENCES [dbo].[Salary] ([Id])
GO
ALTER TABLE [dbo].[SalaryImpact] CHECK CONSTRAINT [FK_SalaryImpact_Salary]
GO
ALTER TABLE [dbo].[SalaryImpact]  WITH CHECK ADD  CONSTRAINT [FK_SalaryImpact_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SalaryImpact] CHECK CONSTRAINT [FK_SalaryImpact_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Position]
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD  CONSTRAINT [CK_Assignment_Status] CHECK  (([Status]='Отменено' OR [Status]='Отклонено' OR [Status]='Одобрено' OR [Status]='Ожидает одобрения'))
GO
ALTER TABLE [dbo].[Assignment] CHECK CONSTRAINT [CK_Assignment_Status]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [CK_Notification_Type] CHECK  (([Type]='Обновление зарплаты' OR [Type]='Напоминание о смене' OR [Type]='Статус заявки' OR [Type]='Новая смена'))
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [CK_Notification_Type]
GO
ALTER TABLE [dbo].[SalaryImpact]  WITH CHECK ADD  CONSTRAINT [CK_SalaryImpact_Type] CHECK  (([Type]='Премия' OR [Type]='Аванс' OR [Type]='Штраф'))
GO
ALTER TABLE [dbo].[SalaryImpact] CHECK CONSTRAINT [CK_SalaryImpact_Type]
GO
ALTER TABLE [dbo].[Shift]  WITH CHECK ADD  CONSTRAINT [CK_Shift_Status] CHECK  (([Status]='Завершена' OR [Status]='Назначена' OR [Status]='Открыта'))
GO
ALTER TABLE [dbo].[Shift] CHECK CONSTRAINT [CK_Shift_Status]
GO
